data/*public-borough-attendance-results-2019-2024.csv
data/*2014-15-to-2022-23-nyc-regents-overall-and-by-category---public 2 (1).csv
data/*2023-graduation-rates-public-borough.csv
data/*public-school-attendance-results 2016-2021.csv